################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/consoleTestApp
/consoleTestApp/bin/Debug
/consoleTestApp/obj/Debug
